.preloaderBlock {
    position: absolute;
    top: calc(50% - 9.2px);
    left: calc(50% - 35.14px);
}
.preloader {
    margin: auto;
}
	
@media (max-height: 700px) {
    .preloaderBlock {
        position: relative;
        top: 0;
        left: 0;
        justify-self: center;
        margin-top: 50px;
    }
}
